@media screen and (min-width: 500px) {
    nav {
        display: flex;
        justify-content: space-evenly;
    }

    nav a {
        width: 100%;
    }

    main {
        grid-template: auto auto / 1fr auto;
        grid-gap: 1rem;
    }

    main h1 {
        grid-column: 1 / 3;
    }
}